@charset "utf-8";
/*=========================
入力フォームのスタイルを設定
=========================*/

#form1 input, #form1 textarea {
    font-size: 16px;
    /*フォントサイズ*/
    border: 1px solid #999999;
    /*ボーダー*/
    padding: 2px;
    /*パディング*/
    border-radius: 3px;
    /*角丸にする*/
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    /*影を付ける
    box-shadowプロパティには、 1px 1px 1px 1px rgba(0,0,0,0.1) inset という値を指定しました。
    半角スペース区切りで６種類の値が指定されています。
    これらの値が、それぞれ何を意味しているのか確認しておきましょう。

    最初の1pxは水平方向の影のオフセット距離、２番目の1pxは垂直方向の影のオフセット距離です。
    この指定の場合には右下へ1px影が付けられます。
    負の値を指定すれば、左上に影が付けられます。

    ３番目の1pxは影のぼかし距離です。ぼかし距離に負の値を指定することはできません。
    値が大きいほど影の端のぼかしが強くなり、値が0の場合には端がくっきりとした影となります。

    ４番目の1pxは影の広がり距離です。正の値を指定すると影の形状を全方向に拡大、負の値を指定すると縮小します。

    ５番目のrgba(0,0,0,0.1)は影の色です。
    色の指定を省略するとユーザーエージェントが選んだ色になります。
    rgba()という形式の色指定については、次のコラムで解説します。

    最後のinsetというキーワードは、指定すると影がボックスの外側ではなく内側につくようになります。*/
}

#form1 input:focus, #form1 textarea:focus {
    box-shadow: 0px 0px 5px 2px #ccceee;
    /*影を付ける*/
    outline-style: none;
    /*アウトラインを無しにする*/
}