@charset "utf-8";
/*=================================
テーブル
================================*/

table.profile {
    width: 680px;
    /*テーブル全体の幅
    上に置かれている<h3>要素と横幅を揃えるための数値です。
    h3は660pxですが、余白と合わせると680pxとなります。*/
    border-collapse: collapse;
    /*セル同士の間に間隔を空けない*/
}

table.profile th {
    width: 150px;
    /*見出しセルの幅*/
    padding: 10px;
    /*パディング
    660+10+10=680*/
    text-align: center;
    /*中央揃え*/
    white-space: nowrap;
    /*セル内の改行を禁止する*/
    background-color: #ccccee;
    /*セル内の背景色*/
    border-bottom: dotted #666666 1px;
    /*セルのボーダー*/
}

table.profile td {
    padding: 10px;
    /*パディング
    660+10+10=680*/
    background-color: #eeeeff;
    /*セルの背景色*/
    border-bottom: dotted #666666 1px;
    /*セルのボーダー*/
}