@charset "utf-8";
/*=================================
テーブル
================================*/

table.profile {
    width: 100%;
    /*テーブル全体の幅*/
    border-collapse: collapse;
    /*セル同士の間に隙間を空けない*/
}

table.profile th {
    width: 100px;
    /*見出しセルの幅*/
    padding: 5px;
    /*パディング*/
    text-align: center;
    /*中央揃えにする*/
    background-color: #ccceee;
    /*セルの背景色*/
    border-bottom: dotted #666666 1px;
    /*cellのborder*/
}

table.profile td {
    padding: 5px;
    /*パディング*/
    background-color: #eeeeff;
    /*セルの背景色*/
    border-bottom: dotted #666666 1px;
    /*セルのボーダー*/
}